@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*the import allows the font-weight of roboto to be 300 for correct style*/
/* to use the import, ou must have font-family:roboto and add a font-weight*/


body 
{
    background-color: #fff;
    color: #4b4040;
    margin: 0;
    padding: 0;
}

section h1 
{   
    font-weight: 600;
    font-size: 40px;
    margin-top: 0;
    color: gray;
    
}

p 
{
  
    margin-left: 30px;
    

}

p.premierParagraphe
{
    font-weight: 600;
    color: gray;
    background: linear-gradient(to right, DarkSeaGreen, Lightyellow);
    margin-left: 20px;
    
}

h2{
    font-weight: 600;
    color: darkseagreen;
}

a 
{
    display: inline-block;
    background-color: rgb(27, 54, 76);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#mainContainer{
    display:flex;
    justify-content: space-between;
    padding-right:600px;
    padding-top:10px;
    margin-left:100px;
}

.innerBoxText
{
  
  width:800px;
  height: 400px 

    
}



.boxWithImage
{
    flex-direction: column; /* Pour empiler les éléments verticalement */
    text-align: center;
    border: 1px solid gray;
    width:250px;
    height:150px;
    margin-top:110px
   
}

img{

width:100px;
height:100px;
position:relative;
bottom:50px;

}

.imageConferenciers3{
position:relative;
bottom:50px;
}


h3
{
    margin-left: 30px;
    font-weight: 600;
    color:darkseagreen
}

h5
{
    margin-left: 30px;
    font-weight: 600;
    color: gray;
    
}

h4{

    font-weight:600;
    color:gray;
}

h1
{
    margin-left: 20px;
}



.lienTexteImage
{
    background-color: #fff;
    color: #524646;
    font-size: 20px;
    position:relative;
    bottom:50px;
}

/* Utiliser pour Titre Ateliers vert*/
.mini-Titre1{
    font-size: 28px;
    font-weight: bold;
    color: rgb(113, 150, 113);
    margin-bottom: 10px;
    margin-top: 20px;
}
.mini-Titre2{
    font-size: 21px;
    margin-top: 5px;
}

p{
    font-size: 20px;
}


.invisbileSeperateur { /* Espace entre sections*/
opacity: 0;
    margin-top:40px;
    margin-bottom: 40px;
    margin-left:270px;
    padding: 2px;
}
