/*Noah What to do: 
-Keep it simple
-Give Proper names that follow format
-Destroy anything not needed
-Font-family change
-Fieldset and Legend set as/for img
-Finish it
*/


@charset "utf-8";
body 
{
    font-family:'Times New Roman', Times, serif;
    background-color: #fff;
    color: #4b4040;
    margin: 0;
    padding: 0;
}

/* Styles pour l'en-tête */
header 
{
    background-color: rgb(27, 54, 76);
    color: #fff;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between; /* Pour pousser les éléments à leurs extrémités respectives */
    align-items: center; /* Pour aligner verticalement les éléments */
}
h1.titreDeLEntete
{
    font-size: 40px;
    margin: 0;    
    margin-right: auto; /* Pour pousser le titre vers la gauche */
    color: #fff;
    text-decoration: none;
}

div.separerElements
{
    flex-direction: column; /* Affichage en ligne */
    align-items: right; /* Pour aligner verticalement les éléments */
}

h3 
{
    font-size: 20px;
    margin: 0; /* Réinitialiser les marges pour h3 */
}

/* Styles pour la navigation */
ul.ulEnteteDePage
{
    list-style: none;
    padding: 0;
    margin-top: 10px; /* Ajouter une marge en haut de la liste de navigation */
    order: 3; /* Faire en sorte que la liste de navigation apparaisse en dernier */
}

li 
{
    display: inline;
    margin-right: 20px;
}

li.dernierElementListeEntete
{
    margin-right: 0;
}

nav ul li a 
{
    color: #fff;
    text-decoration: none;
}

/* Styles pour les sections */
section.premiereSection 
{
    padding: 20px;
    background-color: #8ef3bf;
    margin-bottom: 20px;
    text-align: center;
}

section h1 
{
    font-size: 48px;
    margin-top: 0;
    
}

p 
{
    font-size: 28px;
    margin-left: 30px;
}

p.premierParagraphe
{
    font-size: 32px;
    background-color: #8ef3bf;
    margin-left: 20px;
    
}

a 
{
    display: inline-block;
    background-color: rgb(27, 54, 76);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Styles pour le pied de page */
footer 
{
    background-color: rgb(27, 54, 76);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between; /* Pour pousser les éléments à leurs extrémités respectives */
    align-items: center;
}

small.titrePiedDePage
{
    font-size: 16px;
}

ul.ulPiedDePage
{
    margin: 0;
}


li.dernierElementListePiedDePage
{
    margin-right: 0;
}

div.flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

img.imageConferenciers
{
    flex-direction: column; /* Pour empiler les éléments verticalement */
    text-align: center;
    height: 170px;
    width: 170px;
    
}

h2
{
    margin-left: 40px;
    font-size: 28px;
}

h5
{
    margin-left: 40px;
    font-size: 25px;
}

h1
{
    margin-left: 20px;
}

fieldset
{
    margin-left: 5%;
    margin-right: 50px;
    margin-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
}

a.lienTexteImage
{
    background-color: #fff;
    color: #524646;
    font-size: 20px;
}
