@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*the import allows the font-weight of roboto to be 300 for correct style*/
/* to use the import, ou must have font-family:roboto and add a font-weight*/
#headerBackgroundEnTete{
    background-color: rgb(46,63,81);
    display:flex;
   
  
}



#containerBigText1{
    margin-left: 270px;
    width: 200px;
     line-height: 1.0;
    font-size: 40px;
    color:white;
    font-family: "Roboto";
    font-weight: 100 ;
    
   
    
}

.containerSectionRight{
    
    margin-left: 500px;
    border-style: solid;
    border-color: transparent;
   
    
}

.headerTopGreen{
    color: rgb(113, 150, 113);
    font-family: "Roboto";
    font-weight: 100;
    text-align: right;
  padding-top:30px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;

}
.headerWhiteTop{
    font-family: "Roboto";
    font-size: 10px;
    font-weight: 600;
    color:white;

    display: flex;
    justify-content: space-between;
    gap: 10px;

    margin-top: 10px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;

}




