@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*the import allows the font-weight of roboto to be 300 for correct style*/
/* to use the import, ou must have font-family:roboto and add a font-weight*/
body{
    margin: 0;
}

.headerBigText1{
    font-size: 40px;
    color:white;
    font-family: "Roboto";
    
    font-weight: 100 ;
}
.headerBigText2{
    font-size: 40px;
    color:white;
    font-family: "Roboto";
    margin-top: 0;
    margin-bottom: 0;
    
    font-weight: 100 ;
}
#headerBackgroundEnTete{
    background-color: rgb(46,63,81);

    display:flex;
    justify-content: center;
   
}

.headerTopGreen{
    color: rgb(113, 150, 113);
    font-family: "Roboto";
    font-weight: 600;
    text-align: right;
    padding-top:18px;
}
.headerWhiteTop{
    font-family: roboto;
    font-size: 10px;
    font-weight: 600;
    color:white;

   
}
.headerSection-2{
    text-align: right;
    padding-left:40px
}

.headerSpace{
    display:flex;
    justify-content: space-evenly;
    gap:10px;
    
}

a{
    text-decoration: none;
   
   }

   a:visited {
    color: white;
}

