@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



header{
    display: flex;
    justify-content: center ;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 60px
}

.texteSection1{
    text-align: center;
}

.dateMenu{
color: rgb(103,131,137);
}



.dateMenu{

    text-align: end;
}



.NouvelleConference{
    font-family: Verdana,  Tahoma, sans-serif;
    margin-right: 2em;
    font-size: 3em;
}

.NouvelleConference a {
    text-decoration: none;
    color: white;
}

.partiNavBar{
    background-color: rgb(46,63,81);
    padding: 2em;
    height: 350px;
    justify-content: center;
}
section div{
   display: flex; 
   justify-content: center;
  align-items: center;
  text-align: center;
   
}



img{
    width: 150px;
    height: 100px;

}


.tailleimage{
    width: 150px;
    margin: 20px;
    text-align: left;
}

.titreImage{
    margin-top: 10px;
    margin-bottom: 10px;

}

.descImage{
    margin-top: 10px;
    margin-bottom: 10px;
}
small{
    margin-right: 2em;
}

h2{
    color: rgb(103,131,137); 
}
.parag1{
    color: white;
}

#buttonInscription{
    padding: 20px;
    border-radius: 7px;

    background-color:  rgb(46,63,81);
    border-color: white;
    color: white;
}

    background-color:  rgb(46,63,81);
    border-color: white;
    color: white;
}
