@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

h1{

    text-align: center;
    font-family: "Roboto";
    color: rgb(113, 150, 113);

}

#topBox{
background-color: rgb(30, 60, 85);
height:300px;
position:relative;
bottom:25px;
}

#subBox{

    width:800px;
    
   margin-left:24%;

   color:white;

   

}

h2{
    text-align: center;
    font-family: "Roboto";
    

    
}

/* button could be better centered and better in general*/

#buttonInscription{

    text-align: center;
    height:50px;
    border-color: white;
    background-color: rgb(30, 60, 85);
    color:white;
    margin-left:665px;

}

.topOfImg{
    color:gray;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 10px;
padding-bottom:20px;

}

img{
    height:150px
}

.bottomImg{
    color:gray;
    font-family: "Roboto";
    padding-top:20px;


}

.loremImg{
    color:gray;
    font-family: "Roboto";
    width: 40px;
    white-space: normal; 
    word-wrap: break-word;
    padding-top:20px;

}
