@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.piedDePageBox {


   background-color: rgb(30, 60, 85);
    height: 80px;
    border: 1px;
    border-color: transparent;
    padding: 10px
    
}


.greenTextBox{
display: flex;
margin-left:400px;
position: relative;

bottom: -15px;
/* why??: because the position is relative, it is place in defaul to the box, so it is already at the bottom and so you'll have to use negative numbers to go more below than the default placement*/

}

.greenTextPiedDePage{
    color: rgb(113, 150, 113);
    font-family: "Roboto";
    font-weight: 600;
    font-size: small;
    padding-top: 50px;


}

.whiteTextBox{
  display: flex;
  margin-left:800px;
  position: relative;

  bottom: 50px;


}

#whiteTextPiedDePage1{
    color:white;
    font-family: "Roboto";
    font-weight: 600;
    font-size: small;
    padding-top: 50px;
    width: 80px;
   
}

#whiteTextPiedDePage2{
    color:white;
    font-family: "Roboto";
    font-weight: 600;
    font-size: small;
    padding-top: 50px;
    width: 110px;

}

#whiteTextPiedDePage3{
    color:white;
    font-family: "Roboto";
    font-weight: 600;
    font-size: small;
    padding-top: 50px;
    width: 105px;

}
#whiteTextPiedDePage4{
    color:white;
    font-family: "Roboto";
    font-weight: 600;
    font-size: small;
    padding-top: 50px;
    width: 70px;
}

#whiteTextPiedDePage5{
    color:white;
    font-family: "Roboto";
    font-weight: 600;
    font-size: small;
    padding-top: 50px;
    width: 100px;

}
