

h1{
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    color: rgb(113, 150, 113);
    font-family:roboto;
    font-size: 30px;
    font-weight:300;
}
.text1{

text-align: center;
color: gray;
padding-left: 60px;
padding-right: 60px;
}
.top{
    background: linear-gradient(to right, DarkSeaGreen, Lightyellow);
    height:220px;
    position:relative;
    bottom:24px;
    }

    #adresseMapContainer{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    /* wrap because this allows to text to go below once the inner div is filled*/
    } 

    #middleContainer{
        width:140px;
        position: relative;
        top:50px;
        left:70px

    }
#innerContainerCollege{

    font-size: 23px;
    color: rgb(113, 150, 113);
    margin-top: 30px;
    padding-bottom: 20px;
    width: 140px;
    height:10px;
    font-weight:300;
    
}
   #innerContainerAdresse{
    width: 140px;
    font-weight:300;
    font-size: 15px;
    color: gray;
   
   }

   #innerContainerAdresse2{
    width: 140px;
    font-weight:300;
    font-size: 15px;
    color: gray;
    margin-top:10px;
   }

   #mapContainer{
    align-self: center;
    position:relative;

    bottom:90px;
    left: 100px;
   }

   #map{

    height: 220px;

   }

    
a:link{
    color:rgb(113, 150, 113);
}


